.modal {
  // width: 300px;

  .content {
    min-height: 220px;
    padding-top: 30px;
  }
}

.button {
  background-color: #ff4974 !important;

  &::before {
    border-color: #ff4974 !important;
  }
}
