.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.header {
  background-color: #fff;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FF4974;

  .logo {
    width: 30px;
    height: 30px;
    background: url('/icons/icon-128x128.png') no-repeat center;
    background-size: 100%;
  }

  .title {
    margin-bottom: -10px;
    font-weight: bold;
  }
}

.section {
  flex: 1;

  .tips {
    margin-top: 35px;
    font-size: 12px;
    color: #999;
  }

  input {
    text-align: right !important;
    color: #333 !important;
  }

  :global {
    .am-list-item {
      &.am-input-item {
        height: 50px;
      }
    }
  }
}

.footer {
  
  .copyright {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #999;

    .line {
      flex: 1;
      height: .33px;
      background-color: #ccc;
    }

    .text {
      width: 180px;
    }
  }
}

